body{
    text-align: center;
    width:800px;
    margin:auto;
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    background: rgb(180,58,58);
background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(253,73,29,1) 50%, rgba(253,29,29,1) 100%);
}

.gamecount{
    font-size: medium;
    margin-bottom: 0;
    margin-top: 0;
}

.stars{
    background-color: rgba(255, 255, 255, 0.5);
    width:25%;
    margin:auto;
    border-radius: 5px;
}

.table{
    background-color:white;
    border-radius: 5px;
    width:300px;
    height: 250px;
    margin: auto;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
    padding:10px;

}

.cards{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    margin-top: 0;
    margin-bottom:10px;
    padding:20px;
    border-radius: 5px;
}

.card{
    color: white;
    width: 60px;
    height: 100px;
    background-color: rgba(47, 47, 47,1);
    border-radius: 5px;
    list-style-type: none;
    padding:10px;
    margin-left:5px;
    box-sizing: border-box;
    cursor: pointer;
}

.display_cpucard{
    color: white;
    background-color: rgba(47, 47, 47,1);
    border-radius: 5px;
    width: 60px;
    height: 100px;
    margin:auto;
    transform: rotateX( 180deg );
    padding:10px;
    box-sizing: border-box;
}

.display_mycard{
    color: white;
    background-color: rgba(47, 47, 47,1);
    border-radius: 5px;
    width: 60px;
    height: 100px;
    margin:auto;
    padding:10px;
    box-sizing: border-box;
}

.setcard{
    color: white;
    background-color: rgba(47, 47, 47,1);
    border-radius: 5px;
    width: 60px;
    height: 100px;
    margin:auto;
    padding:10px;
    box-sizing: border-box;
}

.setcard_cpu{
    color: white;
    background-color: rgba(47, 47, 47,1);
    border-radius: 5px;
    width: 60px;
    height: 100px;
    margin:auto;
    padding:10px;
    box-sizing: border-box;
    transform: rotateX( 180deg );
}

.text{
    color:white;
    font-size: small;
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.hidden{
    display: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
 
}

.open_cards{
  font-size: medium;
  color: white;
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding:10px 30px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 1);
  border:solid orangered;
  z-index: 10;
}

.open_cards:hover{
 background-color: rgba(47, 47, 47,1);
 cursor: pointer;
 border:solid orange;
}

.refresh{
    color: white;
    font-size: small;
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
    z-index: 5;
  }

  @media  screen and (max-width: 600px){

   body{
     width:300px
}

    .cards{
       margin:auto;
       padding-left:0;
       padding-right:0;
       width:95%;
       flex-direction: row;
       flex-wrap: wrap;
    }

    .card{
        font-size: large;
        height: auto;
        width: 15%;
         margin-left:3px;
        margin-bottom: 5px;
    }

    .stars{
        width:70%;
    }

    .open_cards{
        padding:20px 20px;
      }

    .modal {
        font-size: large;
      padding:3rem;
    }
}
    